@import "media";
@import "global";
@import "reset";


#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {

      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
    }

    &--a {

      a {
        padding: 0 20px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        transition: .5s;

        &:hover {
          transform: scale(1.1);
          color: #F57059;
        }
      }
    }

    &--btn {
      button {
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        background: #F57059;
        border-radius: 20px;
        width: 130px;
        height: 60px;
        border: none;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
          background: transparent;
          color: black;
        }
      }
    }
  }
}

#hero {
  background: url("../img/bakgraund.png")no-repeat center/cover;

  .hero {
    display: flex;

    &--text {
      padding-top: 10%;

      h4 {
        width: 437px;
        height: 27px;
        font-size: 22px;
        color: #000000;
      }

      h1 {
        font-weight: 800;
        font-size: 60px;
        letter-spacing: -0.03em;
        color: #000000;
        padding: 20px 0;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #757095;
      }
      &__submit {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin: 20px 0;
          width: 622px;
          height: 100px;
          background: #FFFFFF;
          box-shadow: 0 4.35199px 134.912px rgba(0, 0, 0, 0.1);

          p {
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #000000;
            opacity: 0.4;
          }

          h2 {
            font-weight: 700;
            font-size: 24px;
            color: #000000;
            opacity: 0.6;
          }

          button {
            width: 211px;
            height: 65px;
            background: #1B1C31;
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF;
            transition: .5s;

            &:hover {
              transform: scale(1.1);
              background: fixed;
              color: #1B1C31;
            }


          }
        }
    }
&--design {
  display: flex;
&__block{
  padding: 5px;
  width: 207.59px;
  height: 106.16px;
  background: #FFFFFF;
  box-shadow: 0 3.79155px 117.538px rgba(0, 0, 0, 0.1);

  h1 {
    font-weight: 800;
    font-size: 20.8535px;
    color: #000000;
  }
  h3{
    font-weight: 700;
    font-size: 13.2704px;
    color: #FDBC64;
  }
  &--init{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input{
width: 200px;
    margin-top: 30px ;
  }




}
}





  }
}



